html, body {
    height: 100%;
    margin: 0px;
}

.slider {
    width: 7%;
    height: 3%;
    background-color: #999;
    position: absolute;
}

#ball {
    top: 0;
    position: absolute;
    background-color: #fff;
    width: 4%;
    left: 10%;
    height: 8%;
}

#sliderTop {
    top: 0%;
}

#sliderBottom {
    bottom: 0%;
}

#sliderSide {
    height: 14%;
    width: 1.5%;
    top: 10%;
}

#sliderSide.right {
    right: 0%;
}

#area {
    background-color: #dda972;
    position: relative;
    padding-top: 50%;
}


body {
    overflow: hidden;
}

.hide {
    display: none;
}