#slider {
    width: 10%;
    height: 40px;
    background-color: #f00;
    position: absolute;
}

#ball {
    background-color: blue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
}

body {
    padding: 0px;
    margin: 0px 50px 50px 0px;
}