.slider {
    width: 120px;
    height: 40px;
    background-color: #999;
    position: absolute;
}

#ball {
    background-color: blue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
}

#sliderBottom {
    bottom: 0px;
}

#sliderSide {
    height: 120px;
    width: 40px;
}

body {
    padding: 0px;
    margin: 0px 50px 50px 0px;
    overflow: hidden;
}